@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');



body {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-style: normal;
}



.identifyh3- {
    font-weight: bolder;
}

.top-banner {
    text-align: center;
    font-size: 160%;
}

.btn-one {
    color: #FFF;
    font-weight: bolder;
    transition: all 0.3s;
    position: relative;
    margin-left: 20%;
}

.btn-one span {
    transition: all 0.3s;
}

#preloader {
    background-color: #000000 url(images/loading.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.btn-one::before {
    color: #FFF;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(229, 226, 226, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 10000;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


.top-banner-img {
    background-image: url(images/back-images/background.png);
    background-size: cover;
    height: 626px;
    padding-top: 80px;
    margin-top: -1.1%;
    margin-bottom: 8%;
    margin-left: -2%;
    margin-right: -0.80%;
}

#text {
    font-size: 2rem;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    width: fit-content;
}

.top-h1 {
    font-weight: bold;
    font-size: 210%;
    margin-top: 10%;
    text-align: center;
    color: white;
}


.top-button {
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(255, 255, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(29, 28, 30);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-left: 45%;
}

.top-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.top-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.top-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}


.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.whatsapp {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #00ff00;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.linkedin {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: #0077b5;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.github {
    margin-top: -0.6em;
    margin-left: 1.2em;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.discord {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #00ff00;
}

.card1:hover .whatsapp {
    fill: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b5;
}

.card2:hover .linkedin {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
}

.card3:hover .github {
    fill: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
}

.card4:hover .discord {
    fill: white;
}

/* From Uiverse.io by Praashoo7 */
.card {
    width: 17em;
    height: 22.5em;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
}

.card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
}

.card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
}

.card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card a {
    color: white;
    transition: .4s ease-in-out;
}

.card a:hover {
    color: red;
}

.card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
}

.card button:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.top-p {
    font-size: 100%;
    margin-left: 37.5%;
    color: white;
}

.fa-x-twitter {
    color: white;
    font-size: 160%;
}

.Link-button {
    margin-left: 46%;
    text-align: center;
}


.identify {
    margin-left: 5%;
    margin-right: 5%;
}

.i-s {
    margin-left: 110%;
    margin-top: -18%;
    font-weight: bolder;
}

.identify-0 {
    height: 300px;
    margin-top: 6%;
    padding-top: 3%;
    padding-bottom: 20%;
    margin-left: 6%;
    margin-right: 6%;
}

.icon-width {
    width: 100%;
}


.icon-part-1 {
    color: #FFFFFF;
    font-weight: bolder;
    background-image: url(images/icons/Js-background.jpg);
    height: 300px;
    border-radius: 3%;
    padding-top: 3%;
    text-align: center;
    padding: 9% 9%;
    margin-left: 6%;
}

.in-a-line {
    display: flex;
    gap: 150px;
    margin-top: 12%;
}

.ballll {
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.399);
    border-radius: 25px;
}

.myprogrees {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-bottom: 15%;
}

.gaZ {
    text-align: center;
    padding-top: 15%;
}


.ballllll {
    width: 398px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.399);
    border-radius: 25px;
}

.balllll {
    width: 390px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.399);
    border-radius: 25px;
}

.balll {
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.399);
    border-radius: 25px;
}

.ce-btn {
    background-color: #B5784F;
}

.se-btn {
    background-color: #94A1C0;
}


.ball {
    width: 400px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 25px;
}

.icon-part-2 {
    color: #FFFFFF;
    font-weight: bolder;
    background-image: url(images/icons/react-background.jpg);
    height: 300px;
    border-radius: 3%;
    padding-top: 3%;
    text-align: center;
    padding: 9% 9%;
}

.icon-part-3 {
    color: #FFFFFF;
    font-weight: bolder;
    background-image: url(images/icons/Mongo-background.png);
    /* background-color: rgba(0, 128, 0, 0.271); */
    height: 300px;
    border-radius: 3%;
    padding-top: 3%;
    text-align: center;
    padding: 9% 9%;
    margin-right: 6%;
}

.donate-today {
    width: 300px;
}

.flex {
    margin-left: 30px;
    text-align: center;
    justify-content: center;

}

.blogs {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}

.div-a-2 {
    margin-top: 25px;
}


.blog,
.blog-2 {
    box-shadow: 10px 40px 10px 10px gainsboro;
    width: 400px;
    border: 2px solid #E8E8E8;
    height: 1170px;
    border-radius: 15px;
    padding: 20px 0px;
}

.ph {
    color: #f7211c;
}

.blog-2 img {
    width: 300px;
    height: 500px;
}


.div-a {
    margin-top: 100px;
}



.experience {
    margin-left: 1%;
}



.live-site {
    margin-left: 10%;
    border-radius: 9%;
}



.flexible-container {
    display: flex;
    padding-bottom: 5%;
    background-color: whitesmoke;
    height: 30%;
}

.healthy-web {
    margin-right: 74%;
    height: 4px;
    margin-left: -32%;
    border-radius: 4%;
    text-align: center;
}



.coffee-web {
    height: 4px;
    border-radius: 4%;
    margin-left: 30%;
    margin-top: -4%;
    text-align: center;
}

.imges-coffee {
    width: 89%;
}


#n {
    color: rgb(111, 0, 255);
}




.Footer {
    background-color: rgb(0, 7, 47);
    height: 510 px;
    color: white;
    border: black;
    padding: 3px;
    width: 1524px;
    margin-left: -8px;
}

.infor-2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-left: 2%;
}

.infor-3 {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    gap: 5px;
}

#facebook {
    color: blue;
    font-size: 160%;
    padding-bottom: 20%;
}

#instagram {
    color: #cd486b;
    font-size: 160%;
}

#linkedin {
    color: rgba(0, 0, 255, 0.556);
    font-size: 160%;
}

.infor-4 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8%;
    padding-left: 2%;
}


.note {
    width: 60%;
    margin: 0 auto;
}

.name-div {
    font-family: 'Quicksand', sans-serif;
    width: 50%;
}


.email-div {
    font-family: 'Quicksand', sans-serif;
    width: 50%;
}

.msg-note {
    font-family: 'Quicksand', sans-serif;
    width: 30%;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
}

input[type=text],
input[type=email],
input[type=number],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    cursor: text;
    font-family: 'Calligraffitti', sans-serif;
}



.name,
.email,
.number,
.message {
    font-family: 'Calligraffitti' sans-serif;
}



.Address-0 {
    margin-left: -10%;
    text-decoration: none;
    color: white;
}

.Address-1 {
    text-decoration: none;
    color: white;
    margin-top: 5%;
}

.h1-menu {
    margin-left: 1%;
    text-decoration: none;
    color: black;
}



.web-HTML {
    color: white;
    text-decoration: none;
}



.HTML5 {
    font-weight: bolder;
}


.parent-section {
    margin-top: 30px;
}





.parent-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -60px;
    position: fixed;
    width: 99.5%;
    background-color: whitesmoke;
    height: 10%;
}


.Right-div {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-right: 4%;
}

.new-section {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

/* .AR {
    text-decoration: none;
    color: black;
    margin-left: 4%;
    transition-duration: 0.1s;
}

.AR:hover {
    background-color: rgb(231, 227, 227);
    padding: 6px 6px;
    border-radius: 8%;
    transition-duration: 0.1s;

    color: black;
} */

.AR {
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(255, 255, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(134, 108, 250);
    border: .25em solid var(--glow-color);
    padding: 0.7em 3ex;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-left: 1%;
    text-decoration: none;
}

.AR::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.AR:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.AR:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}


.nav-link {
    color: black;
    font-weight: bolder;
}

.dropdown-item {
    font-weight: bolder;
}

.AR:active {
    font-size: 90%;
    padding: 6px 6px;
    border-radius: 8%;
}

.Summary {
    text-align: center;
    margin-right: 10%;
}

.Shadow-0-2 {
    margin-top: 9%;
    margin-bottom: 9%;
    margin-left: 4%;
}

.Shadow-0-3 {
    text-align: center;
    margin-right: 35%;
}

.hr-1 {
    margin-left: 27%;
    margin-right: 55%;
}

.Shadow-0-4 {
    text-align: center;
    margin-left: -40%;
}

.Shadow-0-5 {
    text-align: center;
    margin-left: -36%;
}

.Shadow-0-6 {
    margin-left: 55%;
    margin-top: -129%;
}

.Subscribe-2 {
    margin-top: 15%;
}

.hr-2 {
    margin-left: 55%;
    margin-right: 26%;
}

.Shadow-0-2-1 {
    margin-left: 4%;
    margin-top: 14%;
    margin-bottom: 9%;
    padding-bottom: 15%;
}

.Shadow-0-3-1 {
    text-align: center;
    margin-left: 51%;
    margin-right: 29%;
    margin-top: -1%;
}

.i-s-3 {
    font-size: 15px;

}

.Shepherd {
    text-align: center;
    padding: 8% 0%;
}

.Loose {
    color: rgba(255, 0, 0, 0.748);
}

.Shadow-0-5-1 {
    text-align: center;
    margin-left: 50%;
    margin-right: 24%;
}

.Shadow-0-5-2 {
    margin-left: 55%;
    margin-right: 25%;
}

.hr-0-1 {
    color: ghostwhite;
    width: 1000px;
}

.mc {
    padding-left: 250%;
}

.mc-2 {
    display: none;
}

@media only screen and (max-width:688px) {
    .suiiiiiiiiii {
        flex-direction: column;
    }

    .mc-2 {
        display: grid;
    }

    .mc {
        display: none;
    }

    .parent-section {
        font-size: 10px;
    }

    .identify-0 {
        padding-bottom: 1900px;
        margin-bottom: 100px;
    }

    .i-s-3 {
        font: size 1px;

    }

    .Top-section {
        margin-top: 30000px;
        width: 360px;
    }

    .top-h1 {
        font-size: 30px;
        margin-top: 30%;
        margin-left: 10%;
    }


    #card-2 {
        --bs-card-spacer-y: 1rem;
        --bs-card-spacer-x: 1rem;
        --bs-card-title-spacer-y: 0.5rem;
        --bs-card-border-width: 1px;
        --bs-card-border-color: var(--bs-border-color-translucent);
        --bs-card-border-radius: 0.375rem;
        --bs-card-box-shadow: ;
        --bs-card-inner-border-radius: calc(0.375rem - 1px);
        --bs-card-cap-padding-y: 0.5rem;
        --bs-card-cap-padding-x: 1rem;
        --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
        --bs-card-cap-color: ;
        --bs-card-height: ;
        --bs-card-color: ;
        --bs-card-bg: #fff;
        --bs-card-img-overlay-padding: 1rem;
        --bs-card-group-margin: 0.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: var(--bs-card-height);
        word-wrap: break-word;
        background-color: var(--bs-card-bg);
        background-clip: border-box;
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-radius: var(--bs-card-border-radius);
    }

    .top-p {
        font-size: 15px;
        margin-right: 2%;
    }

    .Link-button {
        font-size: 10px;
        margin-left: 90px;
    }

    .Link-button:hover {
        font-size: 10px;
    }

    .identify-0 {
        flex-direction: column;
        font-size: 10px;
        padding-bottom: 300px;
    }

    .i-s-3,
    .identifyh3 {
        font-size: 10px;
    }

    .i-s {
        margin-left: 0px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .hr-0-1 {
        display: none;
    }

    .in-a-line {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .icon-part-1 {
        margin-left: 0px;
    }

    .icon-part-3 {
        margin-right: 0px;
    }

    .gaZ {
        font-size: 20px;
    }

    .myprogrees {
        flex-direction: column;
    }

    .myprogrees div {
        width: 300px;
    }


    .blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        gap: 90px;
    }

    .blog {
        width: 349px;
        height: 100%;
    }

    .blog-2 {
        width: 340px;
        height: 100%;
    }

    .flex {
        margin-left: 0px;
    }

    .Shadow-0-2 {
        justify-content: center;
        font-size: 10px;
        margin-left: 0px;
        /* margin-right: 0px; */
    }

    .Shadow-0-2-1 {
        justify-content: center;
        font-size: 10px;
        margin-top: 230%;
        margin-left: -250px;
    }

    .hr-1 {
        width: 90px;
        margin-left: 70px;
    }

    .Subscribe-2 {
        font-size: 10px;
    }

    .Shepherd {
        font-size: 15px;
    }

    .Footer {
        height: 320px;
        width: 370px;
        padding: 0px;
        font-size: 10px;
    }

    footer {
        padding: 200%;
    }

    .Address-0 {
        margin-left: -2%;
    }

    .hr-0-1 {
        width: 300px;
    }

    .gas {
        width: 90%;
    }

    .in-a-line {
        width: 90%;
    }

    .body {
        width: 90%;
    }

    .Footer {
        width: 90%;
    }

    .form {
        width: 90%;
    }

    #Summary {
        width: 90%;
    }

    .hi {
        width: 20%;
        padding-right: 20%
    }


}


#reddit {
    font-size: 160%;
}

#discord {
    color: blue;
    font-size: 160%;
}

#github {
    color: white;
    font-size: 160%;
    padding-top: -70%;
}

.ph-btn {
    background-color: #f7211c;
}

.bi-btn {
    background-color: #0a0e57;

}

.bi-btn :hover {
    background-color: #0a0e57;
}



@media only screen and (min-width:688px) and (max-width:992px) {
    body {
        display: none;
    }
}

#About {}

.identifyh3-,
.identifyh3 {
    font-weight: bolder;
    text-align: center;

}